/********************************FIXED BUTTON*********************************/
.fixed-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 308px;
    height: 68px;
    background: url(../../careerpaths/images/button_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 48px;
    text-align: center;
    z-index: 1;
}

.fixed-button a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 16px;
    gap: 24px;
    width: 308px;
    height: 68px;
    position: relative;
    left: 76px;
    bottom: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;
    color: white;

}

.fixed-button-a{
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 16px;
    background-image: url(../../careerpaths/images/speaker.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden-div {
    display: none;
    flex-direction: row !important;
    align-items: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 120px;
    left: 370px;
    transform: translateX(-50%);
    padding: 36px;
    gap: 36px;
    width: 722px;
    height: 236px;
    background: url(../../careerpaths/images/hidden-div_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
  }

.hidden-div img{
    position: relative;
    left: -240px;
}

.hidden-div_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Eudoxus Sans';
    font-style: normal;
    gap: 16px;
    position: relative;
    width: 452px;
    height: 180px;
    left: 190px;
    top: -155px;
}

.hidden-div_content h5{
    font-weight: 700;
    font-size: 20px;
    color: #CEC8FF;
    height: 24px;
}

.hidden-div_content h3{
    font-weight: 700;
    font-size: 18px;
    height: 24px;
    color: white;
}

.hidden-div_line{
    width: 450px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.hidden-div_content-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0px;
    /* gap: 36px; */
    position: relative;
    width: 450px;
    height: 80px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.hidden-div_content-details p{
    width: 138px;
    height: 22px;
    font-family: 'Eudoxus Sans';
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.7;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.appDeadline{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 164px;
    height: 22px;    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.appDeadline img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    left: 0px;
    top: -7px;
}

.h4Content{
    width: 108px;
    height: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.hidden-div_left{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 14px 0px 0px;
    gap: 6px;
    width: 188px;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hidden-div_right{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    left: 30px;
    top: -14px;
    width: 226px;
    height: 50px;
    text-align: 0;
    flex: none;
    order: 1;
    flex-grow: 1;

}

.fixed-button:hover .hidden-div {
    display: block;
  }

/*************************************************************************/
